
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
  <h2>here is your post in detail</h2>  
  <br>
  <p>id:<%=post.id%></p>
  <div>
    <p>username:<%=post.username%></p>
    <br>
    <p>content:<%=post.content%></p>
  </div>
</body>
</html>